name: Build and test smart contracts in monorepo

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["*"]

jobs:
  build:
    strategy:
      matrix:
        os:
          - ubuntu-latest
          - macos-latest
          - windows-latest
    runs-on: ${{ matrix.os }}
    name: ${{ matrix.os }}

    steps:
      - name: Set git to use LF
        run: |
          git config --global core.autocrlf false
          git config --global core.eol lf
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Setup pnpm
        uses: pnpm/action-setup@v4

      - name: Use Node.js
        uses: actions/setup-node@v6
        with:
          node-version-file: .tool-versions
          cache: pnpm
          registry-url: "https://npm.pkg.github.com"
          scope: "@cloudwalk"

      - run: pnpm install
        env:
          NODE_AUTH_TOKEN: ${{ secrets.GHA_PAT }}

      - run: pnpm run -r build

      - run: pnpm run -r test

      # - name: run coverage action
      #   if: runner.os == 'Linux'
      #   uses: cloudwalk/brlc-dev-ex/.github/actions/coverage@main
      #   with:
      #     CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
